# macOS Files
.DS_Store
._*

# C++ Compiled files
*.o
*.out
*.exe
*.dSYM/
*.obj
*.dll
*.so
*.a
*.lib

# Visual Studio Code Config
.vscode/

# Build de CMake
out/
keys/
messages/

# Images Formats
*.png
*.jpg
*.jpeg

.env